body {
  font-family: 'Press Start 2P', cursive;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  animation: background-pan 20s linear infinite;
  background-image: url(../assets/easy/images/Game-Battle.jpg);
  background-repeat: no-repeat;
  height: 150vh;
  margin: 0;
  padding: 0;
}
@keyframes background-pan {
  from {
      background-position: 0% center;
  }
  to {
      background-position: 100% center;
  }
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin: 18px 0px;
  width: 100%;
  color: #ecf0f1;
  padding: 0 0 10px 0;
  background: rgba(121, 139, 78, 0.4);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);

}
.title {
  font-size: 1.4rem;
  color: #ffeb3b;
  text-shadow: 4px 2px 5px #8790c2, 4px 4px 5px #000d53;
  animation: title-float 5s linear infinite;
  text-align: center;
  font-weight: bold;
}
@keyframes title-float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0);
  }
}
.timer , .best-score {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: timer-pulse 1.5s linear infinite;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #ffeb3b;
}
@keyframes timer-pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
.settings-wrapper {
  display: flex;
  justify-content: flex-end;  
  margin-top: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 430px;
  margin: 0px auto 50px auto;
  padding: 20px 0;
  border-radius: 10px;
  animation: container-float 6s linear infinite;
}
@keyframes container-float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-8px);
  }
  100% {
      transform: translateY(0);
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 450px;
  height: 500px;
}
.card {
  border: 2px solid #8790c2;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position:relative;
  box-shadow: 2px 2px 4px rgba(240, 225, 16, 1);
  background-image: url(../assets/easy/images/);
  background-size: cover;
  overflow: hidden;
  aspect-ratio: 1/1; 

}
@keyframes border-animation {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 100% 0;
  }
}
.card:hover {
  transform: scale(1.1);
}
.card::before {
  content: "⚔";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  color: #fdd835;
}
@keyframes card-icon-rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.controls-icons {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 90px 20px;
  position: absolute;
  top: 25%;
  right: 3%;
  transform: translateY(-50%);
}
.btn-icons {
  background: rgba(255, 231, 11, 0.0);
  border-radius: 50%;
  border: none;
  padding: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  animation: button-pulse 2s ease-in-out infinite alternate;
}
#difficulty{
  font-size: 15px;
  border-color: #ffa726;
  color: #ffa726;
  text-shadow: 1px 1px 2px rgba(255, 153, 0, 0.7);
  box-shadow: 1px 1px 2px rgba(255, 153, 0, 0.7);
  border-radius: 10px;
  padding: 15px 15px;
  font-family: 'Press Start 2P', cursive;
  background: rgba(224, 180, 58, 0.2);
  position: absolute;
  top: 90%;
  right: 4%;
}
#difficulty:hover{
  transform: scale(1.1);
  color: #005791;
  box-shadow: 3px 2px 2px rgba(34, 7, 0, 1);
  border-color: #cc5a0e;
  background: rgba(255, 243, 69, 0.5);
  animation: button-pulse 2s ease-in-out infinite alternate;
  transition: all 0.3s ease;
}
#restart-button{
  background-image: url(../assets/easy/icons/);
  background-size: cover;
  width: 50px;
  height: 50px;
}
#hint-button{
  background-image: url(../assets/easy/icons/);
  background-size: cover;
  width: 50px;
  height: 50px;
}
@keyframes button-pulse {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.2);
  }
}
#settings-button {
  animation: settings-spin 4s linear infinite;
  font-size: 3rem;
  border: none;
  border-radius: 200px;
  background: none;
  margin-right: 20px;
}
@keyframes settings-spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}



@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    height: auto;
    padding: 10px 0;
    margin-right: 80px;
  }

  .grid {
    width: 90%;
    gap: 10px;
    height: auto;
    margin-right: 30px;
  }

  .card {
    padding: 5px;
    font-size: 0.8em;
  }

  .controls-icons {
    margin: 100px 10px;
    right: 0;
  }

  .btn-icons {
    padding: 20px;
  }

  #restart-button, #hint-button {
    width: 40px;
    height: 40px;
  }

  #difficulty {
    right: 2%;
    visibility: hidden;
  }
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 25px;
  }
  
  .container {
    margin-right: 60px;
  }

  .controls-icons {
    margin: 30px 5px;
  }

  .btn-icons {
    padding: 15px;
  }

  #restart-button, #hint-button {
    width: 35px;
    height: 35px;
  }
  #difficulty {
    visibility: hidden;
  }
}