:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #white;
  --card-background: #244282  ;
}

/* Space background */
body, .space-background {
  margin: 0;
  padding: 0;
  background: url('/assets//image/space1.gif') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  color: white;
  height: 100vh;
  overflow: hidden;
}
/* whole body */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* game statistics section */
.stats{
  display: flex;
  justify-content: space-evenly;
}
/* the game board */
#game-board{
  width: 80%;
  /* height: 70%; */
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color:rgba(36,66,130,50%);
  margin: 50px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 70vh; 
}


.game-board {
  border-style: solid;
  border-width: .125em 0;
  box-shadow: -.375em 0 0 -.125em,
      .375em 0 0 -.125em;
  margin: 0 .5em;
  padding: .5em .125em;
  position: relative;
  z-index: 1;

  &:before {
      background-color: inherit;
      border: inherit;
      border-width: 0 .125em;
      bottom: .375em;
      content: '';
      left: -.5em;
      pointer-events: none;
      position: absolute;
      top: .375em;
      right: -.5em;
      z-index: -1;
  }

  &:after {
      background-color: inherit;
      border: inherit;
      border-width: 0 .125em;
      bottom: .125em;
      content: '';
      left: -.375em;
      position: absolute;
      top: .125em;
      right: -.375em;
      z-index: -2;
  }
}